
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
  url('<%= cl_image_path "background_rluuc4" %>')">
  <div class="banner-content">
    <h1>Cocktail Recipes </h1>
    <p>Making cocktails is much simpler than you think!</p>
    <%= link_to "Create Cocktail!", new_cocktail_path, class: "btn btn-primary btn-lg btn-down" %>
  </div>
</div>
<div class="container" >
  <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 400, width: 400, crop: :fit %>')">
        <div class="card-category"></div>
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <%= link_to "Detail", cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
